*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #00b8ff;
}
.App {
  text-align: center;
}
.report{
  display: flex; 
  justify-content:space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.report > div{
  background-color: rgb(103 202 248);
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 23%;
  min-height: 250px;
  margin: 25px auto;
  box-shadow: rgb(58, 128, 214) 15px 15px;
}
.report div p{
  font-size: 22px;
}
.report div h1{
  font-size: 30px;
}
label{
  font-size: 30px;
}
input{
  height: 42px;
  width: 500px;
  border: 1px solid rgb(55, 52, 71);
  border-radius: 10px;
  padding: 2px 45px;
  background: url('../public/image/search.png') left no-repeat;
  background-size: auto 40px;
  font-size: 22px;
}
.btn{
  width: 140px;
  height: 32px;
  margin: 9px auto;
  border-radius: 9px;
  background-color: inherit;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
footer{
  background-color: rgb(103, 108, 242);
}